<!DOCTYPE html>
<html ng-app="MeuApp">

<head>
	<base href="/">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Teste Mercado Livre</title>
	<link rel="stylesheet" href="css/general.css"/>
</head>

<body>
	<header>
		<div class="content">
			<div>
				<div>
					<img src="images/logo.png"/>
				</div>				
				<form>
					<div>
						<input type="text" ng-model="txtBusca" placeholder="Digite a sua busca"/>
						<button class="bt-find" ng-click="buscar();"></button>
					</div>	
				</form>
			</div>
		</div>			
	</header>
	<div ng-view>
		
	</div>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>	
	<script src="js/app.js"></script>
	<script src="js/buscaCtrl.js"></script>
	<script src="js/itemsCtrl.js"></script>	
</body>

</html>