/****** Config Files *******/
@import 'reset'

use_reset('meyer')
reset('all')
/***************************/

/****** Components *********/
@import 'general/vars.styl'
@import 'general/functions.styl'

/***************************/

*, *::after, *::before      
	box-sizing border-box 	
	font-weight 300
	transition all 0.2s ease
	
html
	height 100%
	
body
	width 100%
	height 100%
	background-color #e7e7e7
	overflow-x hidden
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-family sans-serif
	color $txt
	
.content
	width $content
	margin 0 auto
	+below($content)
		width 95%

select::-ms-expand {
    display: none;
}

.ng-cloak
	display none !important

header
	background-color $mainColor
	&>div
		padding 20px 0px
		&>div
			display table
			width 100%
			&>div, &>form
				display table-cell
				vertical-align middle
			&>div
				padding-right 30px
				+below(560px)
					display none
		& img, & form
			display inline-block
			vertical-align middle
		& img
			max-width 100%
		& form
			width 80%
			& input
				border 0px
				height 35px
				padding 10px
				set-font-size(20px)
				display inline-block
				vertical-align top
				width 80%
			& button
				display inline-block
				vertical-align top
				appearance none
				background-image url('../images/search.png')
				background-repeat no-repeat
				background-position center
				height 35px
				width 40px
				border 0px
				background-color #f1f1f1
			+below(560px)
				width 100%
				
.carregando
	text-align center
	padding 10px
	
	
section.content
	margin 40px auto	
	background-color #fff
	padding 35px 50px
	+below(700px)
		padding 10px 10px
.sec-busca	
	& article
		margin-bottom 10px
		padding 20px 0px
		&:last-child
			margin-bottom 0px
		&>div
			display table
			width 100%
			&>div
				position relative
				display table-cell
				vertical-align top
				&:first-child
					width 20%
					text-align center
					& img
						max-width 100%
				& h2
					font-weight bold
					set-font-size(14px)
					margin-bottom 20px
				& h3					
					set-font-size(15px)
					margin-bottom 6px
				& p
					line-height 1.2
					set-font-size(12px)
		.ver-mais
			color #fff
			background-color $link
			text-decoration none
			border-radius 2px
			padding 4px 6px
			display inline-block
			float right
			top 0
		+below(560px)
			&>div
				&>div
					&:first-child
						width 110px
						& img
							max-width 90px
			& .ver-mais
				set-font-size(13px)
				padding 2px 3px
.sec-item
	& .produto
		display table
		width 100%
		&>div
			display table-cell
			vertical-align top			
			&:first-child
				text-align center
				& img
					max-width 100%
			&:last-child
				width 30%
				& i
					font-style italic
					set-font-size(11px)
				& h1
					set-font-size(24px)
					font-weight bold
				& h2
					set-font-size(30px)
					margin-top 10px
					margin-bottom 40px
				& .bt-comprar
					background-color $link
					color #fff
					set-font-size(18px)
					padding 8px 10px
					text-decoration none
					border-radius 5px
			+below(960px)
				display block
				&:last-child
					width 100%
	& .descricao
		margin-top 40px
		& h2
			font-weight bold
			set-font-size(24px)
			margin-bottom 10px
		&>div
			margin-bottom 10px
			& p
				set-font-size(12px)
				line-height 1.2
		&>p
			set-font-size(18px)
			line-height 1.2
			word-break break-all
				
			