/****** Config Files *******/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/***************************/
/****** Components *********/
/***************************/
*,
*::after,
*::before {
  box-sizing: border-box;
  font-weight: 300;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #e7e7e7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  color: #4a4a4a;
}
.content {
  width: 1240px;
  margin: 0 auto;
}
@media only screen and (max-width: 1240px) {
  .content {
    width: 95%;
  }
}
select::-ms-expand {
  display: none;
}
.ng-cloak {
  display: none !important;
}
header {
  background-color: #fff059;
}
header>div {
  padding: 20px 0px;
}
header>div>div {
  display: table;
  width: 100%;
}
header>div>div>div,
header>div>div>form {
  display: table-cell;
  vertical-align: middle;
}
header>div>div>div {
  padding-right: 30px;
}
@media only screen and (max-width: 560px) {
  header>div>div>div {
    display: none;
  }
}
header>div img,
header>div form {
  display: inline-block;
  vertical-align: middle;
}
header>div img {
  max-width: 100%;
}
header>div form {
  width: 80%;
}
header>div form input {
  border: 0px;
  height: 35px;
  padding: 10px;
  font-size: 20px;
  font-size: 1.25rem;
  display: inline-block;
  vertical-align: top;
  width: 80%;
}
header>div form button {
  display: inline-block;
  vertical-align: top;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 35px;
  width: 40px;
  border: 0px;
  background-color: #f1f1f1;
}
@media only screen and (max-width: 560px) {
  header>div form {
    width: 100%;
  }
}
.carregando {
  text-align: center;
  padding: 10px;
}
section.content {
  margin: 40px auto;
  background-color: #fff;
  padding: 35px 50px;
}
@media only screen and (max-width: 700px) {
  section.content {
    padding: 10px 10px;
  }
}
.sec-busca article {
  margin-bottom: 10px;
  padding: 20px 0px;
}
.sec-busca article:last-child {
  margin-bottom: 0px;
}
.sec-busca article>div {
  display: table;
  width: 100%;
}
.sec-busca article>div>div {
  position: relative;
  display: table-cell;
  vertical-align: top;
}
.sec-busca article>div>div:first-child {
  width: 20%;
  text-align: center;
}
.sec-busca article>div>div:first-child img {
  max-width: 100%;
}
.sec-busca article>div>div h2 {
  font-weight: bold;
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 20px;
}
.sec-busca article>div>div h3 {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-bottom: 6px;
}
.sec-busca article>div>div p {
  line-height: 1.2;
  font-size: 12px;
  font-size: 0.75rem;
}
.sec-busca article .ver-mais {
  color: #fff;
  background-color: #3483fa;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  padding: 4px 6px;
  display: inline-block;
  float: right;
  top: 0;
}
@media only screen and (max-width: 560px) {
  .sec-busca article>div>div:first-child {
    width: 110px;
  }
  .sec-busca article>div>div:first-child img {
    max-width: 90px;
  }
  .sec-busca article .ver-mais {
    font-size: 13px;
    font-size: 0.8125rem;
    padding: 2px 3px;
  }
}
.sec-item .produto {
  display: table;
  width: 100%;
}
.sec-item .produto>div {
  display: table-cell;
  vertical-align: top;
}
.sec-item .produto>div:first-child {
  text-align: center;
}
.sec-item .produto>div:first-child img {
  max-width: 100%;
}
.sec-item .produto>div:last-child {
  width: 30%;
}
.sec-item .produto>div:last-child i {
  font-style: italic;
  font-size: 11px;
  font-size: 0.6875rem;
}
.sec-item .produto>div:last-child h1 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
}
.sec-item .produto>div:last-child h2 {
  font-size: 30px;
  font-size: 1.875rem;
  margin-top: 10px;
  margin-bottom: 40px;
}
.sec-item .produto>div:last-child .bt-comprar {
  background-color: #3483fa;
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 8px 10px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media only screen and (max-width: 960px) {
  .sec-item .produto>div {
    display: block;
  }
  .sec-item .produto>div:last-child {
    width: 100%;
  }
}
.sec-item .descricao {
  margin-top: 40px;
}
.sec-item .descricao h2 {
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.sec-item .descricao>div {
  margin-bottom: 10px;
}
.sec-item .descricao>div p {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.2;
}
.sec-item .descricao>p {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.2;
  word-break: break-all;
}
